In [1]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('test', header=None)

In [12]:
data = df[0].apply(lambda x: x.split(' '))

In [13]:
max(data.apply(lambda x: len(x)))

255

In [14]:
def pad(arr):
    l = len(arr)
    return [None] * (255-l)+arr

In [15]:
X=data.apply(lambda x: pad(x))

In [16]:
X.apply(lambda x: len(x)).describe()

count    289914.0
mean        255.0
std           0.0
min         255.0
25%         255.0
50%         255.0
75%         255.0
max         255.0
Name: 0, dtype: float64

In [17]:
df = pd.DataFrame.from_dict(dict(zip(X.index, X.values))).T

In [18]:
df.to_csv('formated_test')

In [34]:
df = pd.read_csv('formated_train', index_col=0)

In [35]:
df = df[:500]

In [36]:
df

,0,1,2,3,4,5,6,7,8,9,...,246,247,248,249,250,251,252,253,254,255
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,122447.0,319811.0,352770.0,196872,95202,159637,470957,102795,278503,388242
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,174197.0,335779.0,141676.0,119856,376664,311755,388187,20988,58492,457396
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,197937.0,311884.0,158498.0,480089,327558,470590,267240,269886,174474,187247
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,94315.0,435049.0,260359.0,163986,378960,253729,280795,429953,169130,281997
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,105248.0,279807.0,11317.0,370328,148245,123340,114957,78818,308240,60747
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,405936.0,232662.0,39591.0,387867,240552,320808,356190,412731,255602,400908
496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2344,441950,286818,259701,448823,462692,222315
497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,211825.0,406900.0,249078.0,453411,317546,60791,221656,294183,182836,390566
498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,390772.0,429544.0,97123.0,132011,358390,367311,482392,123808,268666,150950
499,11182.0,170418.0,370005.0,166536.0,219405.0,336526.0,267055.0,135418.0,131186.0,132243.0,...,458201.0,145604.0,459081.0,312054,329401,356082,35274,364777,174780,29824

In [52]:
bigset = set()
for x in df:
    s = [int(x) for x in df[str(x)].values if pd.notna(x)]
    bigset.update(s)

In [53]:
len(bigset)

24493

In [54]:
track_csv_path = 'track_artists.csv'
class ProductEncoder:
    def __init__(self, track_csv_path):
        self.track_idx = {}
        self.track_pid = {}
        for idx, pid in enumerate(pd.read_csv(track_csv_path).trackId.values):
            self.track_idx[pid] = idx
            self.track_pid[idx] = pid

    def toIdx(self, x):
        if type(x) == str:
            pid = x
            return self.track_idx[pid]
        return [self.track_idx[pid] for pid in x]

    def toPid(self, x):
        if type(x) == int:
            idx = x
            return self.track_pid[idx]
        return [self.track_pid[idx] for idx in x]

    @property
    def num_products(self):
        return len(self.track_idx)

In [55]:
def make_coo_row(transaction_history, product_encoder: ProductEncoder):
    idx = []
    values = []

    items = []
    for trans in transaction_history:
        items.extend([i["track_id"] for i in trans["tracks"]])
    n_items = len(items)

    for pid in items:
        idx.append(product_encoder.toIdx(pid))
        values.append(1.0)

    return sp.coo_matrix(
        (np.array(values).astype(np.float32), ([0] * len(idx), idx)), shape=(1, product_encoder.num_products),
    )

In [56]:
product_encoder = ProductEncoder(track_csv_path)